
@model CSVUploadToDataProject.Models.UploadFile.UploadResultModel

@{
    ViewData["Title"] = "UploadResult";
}

<h2>UploadResult</h2>

<table class="table table-striped" >
    <thead>
        <tr>
            <th>Client Id</th>
            <th>Date</th>
            <th>Site</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CSVDataDTOs)
        {
        <tr>
            <td>@item.ClientId</td>
            <td>@item.Date</td>
            <td>@item.Site</td>
            <td>@item.FooData</td>
        </tr>            
        }
    </tbody>
</table>