@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Proto type CSV file upload web application</p>
<p>To try a file upload click the link below</p>

@Html.ActionLink("File upload", "Index", "UploadFile", null ,new { @class = "btn btn-primary" })
