@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Kiss Ass Web Applications,<br />
    Shiohama,<br />
    Tokyo<br />
    <abbr title="Phone">P:</abbr>
    12345 6789101
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">morton_al@hotmail.com</a><br />  
</address>
